{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3> Информация </h3>
            <p class="text-justify">
                На карте представлены выбросы диоксида углерода (в эквиваленте углеродных единиц CDE, равных тонне CO2) в городе Тюмень от автомобильного транспорта в зависимости от балла пробок, который определяется на основе известных ГИС-сервисов. Представлено часовое количество выбрасываемых углеродных единиц, определенное для типовых соотношений транспортных средств на дорогах города в зависимости от плотности автомобилей на дороге и их средней скорости. Чем темнее цвет, чем ближе он к красному, тем большее количество углеродных единиц выбрасывается в атмосферу. Самый темный цвет (максимальное значение) соответствует 17 CDE в час, самый светлый (минимальное значение) соответсвует 0,5 CDE в час. Карта статична, разработана на основе данных прошлых периодов и пока не привязана к баллу пробок в реальном времени.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Интерактивная карта</h3>
            {{m  |  safe}}
        </div>
    </div>
</div>

{% endblock %}